<h1 class="py-6 text-3xl text-center text-gray-800 uppercase">ASSISTANTS API</h1>
<div class="w-4/5 mx-auto h-[85vh] overflow-hidden">
  <div class="w-full h-[90%] bg-slate-600 border border-gray-950 rounded-lg"></div>
  <div class="flex justify-center items-stretch w-full h-12 mt-2 text-white bg-slate-800 rounded-lg">
    <textarea cols="50" rows="3" class="flex-1 px-4 py-2 bg-transparent resize-none"></textarea>
    <span class="flex justify-center items-center w-24 h-full">
      <i class="fa-solid fa-microphone"></i>
    </span>
  </div>
</div>